{% extends "base.html" %}
{% block title %}
{% if not is_edit %}
    Создание записи о дипломе
  {% else %}
    Редактирование записи о дипломе
  {% endif %}
{% endblock %}
{% block content %}
{% if form.errors %}
<div class="errors">
    {{ form.errors }}
</div>
{% endif %}
    <div>
        <h1>Введите данные</h1>
        <form method="post" action="{% url 'diplom_spo:diplom_create' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
        <a href="{% url 'diplom_spo:index' %}">Отмена</a>
        </form>
      </div>
{% endblock %}
